<p style="color: green"><%= notice %></p>

<h3>Username:</h3>
<p>
  <%= @user.username %>
</p>

<% if @user.ratings.empty? %>
  No ratings.
<% else %>
  Has made <%= pluralize @user.ratings.count, 'rating' %>, average rating <%= @user.average_rating %>
<% end %>

<strong>ratings</strong>
<ul>
  <% @user.ratings.each do |rating| %>
    <li> <%= render rating %> <%= link_to 'delete', rating, data: {"turbo-method": :delete} %> </li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
