<p style="color: green"><%= notice %></p>

<h3>Username:</h3>
<p>
  <%= @user.username %>
</p>

<% if @user.ratings.empty? %>
  No ratings.
<% else %>
  Has made <%= pluralize @user.ratings.count, 'rating' %>, average rating <%= @user.average_rating %>
<% end %>

<strong>ratings</strong>
<ul>
  <% @user.ratings.each do |rating| %>
    <li> <%= render rating %> <%= link_to 'delete', rating, data: {"turbo-method": :delete} %> </li>
  <% end %>
</ul>

<strong>Clubs</strong>
<ul>
  <% @user.beer_clubs.each do |club| %>
    <li> <%= link_to club.name, club %> </li>
  <% end %>
</ul>

<% if @user.ratings.empty? %>
    user has no ratings
<% else %>
    Favorite style is <%= @user.favorite_style %>
    <br />
    Favorite brewery is <%= @user.favorite_brewery.name %>
<% end %>


<% if @user == current_user %>
<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
<% end %>
