<h2>Ratings</h2>
<%= render partial: "best", locals: {category: "beers", items: @top_beers} %>

<%= render partial: "best", locals: {category: "breweries", items: @top_breweries} %>

<%= render partial: "best", locals: {category: "styles", items: @top_styles} %>

<% if @top_users %>
  <h2>Most active users</h2>
  <ol>
    <% @top_users.each do |user| %>
      <li><%= user.username %> <%= user.ratings.count %> ratings</li>
    <% end %>
  </ol>
<% end %>

<h2>Recent ratings</h2>
<ul>
  <% @recent_ratings.each do | rating | %>
    <li><%= rating.beer.name %> <%= rating.score %> <%= rating.updated_at %></li>
  <% end %>
</ul>