<h2>Ratings</h2>
<%= render partial: "best", locals: {category: "beers", items: @top_beers} %>

<%= render partial: "best", locals: {category: "breweries", items: @top_breweries} %>

<%= render partial: "best", locals: {category: "styles", items: @top_styles} %>

<h2>Recent ratings</h2>
<ul>
  <% @recent_ratings.each do | rating | %>
    <li><%= rating.beer %> <%= rating.score %> <%= rating.updated_at %></li>
  <% end %>
</ul>