<p style="color: green"><%= notice %></p>

<h1>Breweries</h1>

<p>Number of breweries: <%= @breweries.count %></p>

<div id="breweries">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Year</th>
      </tr>
    </thead>
    <% @breweries.each do |brewery| %>
      <tbody>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
      </tbody>
    <% end %>
  </table>
</div>


<%= link_to('List of beers', beers_path, class:'btn btn-primary') %>
<%= link_to('New brewery', new_brewery_path, class:'btn btn-primary') if current_user %>
